Applications
Documents
Development
Applications (Parallels)/
Creative Cloud Files/
Desktop/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
RecentHostImage/
Virtual
Machines.localized/
WS-181.5540.11_dason_11.04.2019_16.10.01.zip
WeChatProjects/
WebstormProjects/
controlconfig.conf
go/
heapDump-webstorm-1571109425807.hprof.zip
heapDump-webstorm-1571109715389.hprof.zip
image/
ipmsg.db
*.log
logs/
natapp/
sunlogincontrol.pid
test
test.js
testVim.js
todoVim.md
uatBug.docx
yarn.lock
.Genymobile/
/* .NERDTreeBookmarks */
.ShadowsocksX-NG/
.Terminal.plist
.android/
.angular-config.json
.archey-ip
.babel.json
/* .bash_history */
/* .bash_profile */
.bash_profile.pysave
.bash_sessions/
/* .bashrc */
.cache/
.cocoapods/
.code-push.config
.config/
/* .ctags */
.cups/
.dart/
.dartServer/
.docker/
.dotnet/
.electron-gyp/
.electron/
.emulator_console_auth_token
.expo/
.fastlane/
.flow-typed/
.flutter
.flutter_settings
.flutter_tool_state
.gem/
.glide/
.gradle/
.hammerspoon/
.hammerspoonMoveWindowToSimilor/
.hammerspoonTest/
.hgignore_global
.idlerc/
.itmstransporter/
.kingsoft/
.lesshst
.list.plist
.local/
.m2/
.ngrok/
.node-gyp/
.node_path
.node_repl_history
.npm/
.npmrc
.nrmrc
.nuget/
/* .oh-my-zsh/ */
.oracle_jre_usage/
.pub-cache/
.python_history
.react-native-cli/
.rncache/
.semantic-highlight-cache
.sh_history
.sqldeveloper/
.ssh/
.stCommitMsg
.subversion/
.taro2/
/* .tern-project */
.tooling/
.v8flags.6.2.414.50.6a9bc0427c3b8c4f40d59c55d17d21ea.json
.v8flags.6.7.288.45-node.7.6a9bc0427c3b8c4f40d59c55d17d21ea.json
.v8flags.7.4.288.21-node.16.6a9bc0427c3b8c4f40d59c55d17d21ea.json
/* .vim/bundle/ */
/* .vim/pack/ */
/* .viminfo */
/* .vimrc-aki */
/* .vimtags */
.vscode-react-native/
.vscode/
.yarnrc
".zcompdump-Stephen\347\232\204 MacBook Pro-5.7.1"
".zcompdump-Stephen\347\232\204 MacBook Pro-5.8"
.zsh_history
Virtual Machines.localized/ 
iCloud Drive (Archive)/
